<.back navigate={~p"/categories/#{@topic.category_id}"}>Back to category</.back>

<.header>
  Listing Topic
  <:actions>
    <.link href={~p"/study/#{@topic}"}>
      <.button>Study</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @topic.name %></:item>
  <:item title="Description"><%= @topic.description %></:item>
</.list>
