<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input field={f[:topic_id]} type="select" options={@topic_options} />
  <.input field={f[:problem]} type="text" label="Problem" />
  <.input field={f[:answer]} type="text" label="Answer" />
  <:actions>
    <.button>Save Question</.button>
  </:actions>
</.simple_form>
